html {
  font-size: 15px;
}

body {
  max-width: 1920px;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 21px;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.p {
  margin: 0 0 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*page*/

.page {
  width: 100%;
  height: 100vh;
  font-family: Mulish;
  background-color: white;
}

/*Header*/

.header {
  width: 100%;
  height: 100px;
  display: block;
}

.inner-container {
  display: flex;
  justify-content: space-between;
}

.header-brandname {
  display: flex;
  padding: 0;
  margin: 56px 0 0 196px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
}

.header-t {
  margin: 0 12px 0 0;
  height: 41px;
  width: 41px;
  padding: 5px 11px 4px 13px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #458ff6;
  text-align: center;
}

.header-brand {
  padding-top: 6px;
}

.header-nav {
  display: flex;
  margin-right: 192px;
  margin-top: 70px;
}

.header-nav-link {
  margin-left: 40px;
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.header-nav-link:visited {
  text-decoration: none;
}

/* Content */

.content {
  width: 100%;
  max-width: 1493px;
  margin: 0 auto;
  padding-left: 179px;
  display: flex;
}

.inner-h {
  width: 425.08px;
  height: 114.65px;
}
.title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.dots {
  margin-top: 63px;
}
.dots-2 {
  position: absolute;
  right: 41%;
  top: 34%;
}
.text {
  padding-top: 25.59px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}

.consult-btn {
  display: inline-block;
  margin-top: 49px;
  padding: 0px 39.82px 0px 39.82px;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  color: #ffffff;
  text-decoration: none;
  background-color: #458ff6;
  border-radius: 55px;
}
.services-button {
  margin: 35px auto 200px;
  min-width: 250px;
  width: 250px;
}
.learn-btn {
  padding: 15px 50px;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  color: #458ff6;
  border: solid 1.4px #458ff6;
  border-radius: 55px;
}
.learn-btn {
  text-decoration: none;
}
.learn-btn:visited {
  color: #458ff6;
}
.learn-btn:hover {
  border: solid 2px #2a6cc9;
}

.illustration {
  margin-left: 117px;
}

.mid-title {
  margin: 185px auto;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}

.mid-title:after {
  content: "";
  display: block;
  margin: 26px auto 33px;
  height: 2px;
  width: 56px;
  background: #000000;
  border-radius: 5px;
}

.service-text {
  margin: 0 auto 80px;
  height: 60px;
  width: 952px;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.services {
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 350px;
  margin-right: 34px;
}

.servises-row {
  box-sizing: border-box;
  padding: 54px 40px;
  max-width: 350px;
  max-height: 354px;
  width: 30%;
  margin-right: 34px;
  margin-bottom: 37px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.servises-row p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.servises-row h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
}

.servises-row:hover {
  transition: all 500ms ease-out;
  box-shadow: 10px 15px 20px rgba(155, 155, 155, 0.8);
}

.servises-row:nth-child(3) {
  margin-right: 0px;
}
.providers-container {
  margin: 0 auto 250px;
  display: flex;
  width: 1273px;
  height: 477px;
  justify-content: space-between;
}
.providers-container h1 {
  padding-top: 57px;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.providers-container h1:after {
  content: "";
  display: block;
  margin: 26px 0 33px;
  height: 2px;
  width: 56px;
  background: #000000;
  border-radius: 5px;
}
.providers-container p {
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d7987;
}
.providers-text {
  height: 112px;
  width: 481px;
}
.providers-button {
  padding-top: 22px;
}
.apps-container {
  margin: 0 auto;
  display: flex;
  width: 1273px;
  height: 477px;
  justify-content: space-between;
}
.apps-text {
  height: 112px;
  width: 481px;
}
.apps-container h1 {
  height: 96px;
  width: 254px;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.apps-container p {
  width: 420px;
  height: 120px;
  padding-top: 50px;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d7987;
}
.apps-container h1:after {
  content: "";
  display: block;
  margin: 26px 0 33px;
  height: 2px;
  width: 56px;
  background: #000000;
  border-radius: 5px;
}
.apps-button {
  padding-top: 70px;
}
.bluebox {
  margin: 0 auto;
  padding-top: 64px;
  width: 1120px;
  height: 425px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}
.bluebox h1 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.bluebox h1:after {
  content: "";
  display: block;
  margin: 25px auto 65px;
  height: 2px;
  width: 56px;
  background: #ffffff;
  border-radius: 5px;
}
.bluebox-content {
  display: flex;
  padding-left: 118px;
  align-items: center;
}
.bluebox-content img {
  height: 141px;
  width: 141px;
}
.name-content {
  display: flex;
  padding: 32px 0 0 28px;
  flex-direction: column;
}
.name-content h1 {
  margin: 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
}
.name-content h1:after {
  content: none;
}
.name-content p {
  margin: 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}
.bluebox-text {
  padding-left: 100px;
  height: 120px;
  width: 500px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.check-articles h1 {
  text-align: center;
}
.check-articles:after {
  content: "";
  display: block;
  margin: 26px auto 33px;
  height: 2px;
  width: 56px;
  background: #000000;
  border-radius: 5px;
}
.articles {
  display: flex;
}
.article-content {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 512px;
  background-image: url(../img/blood.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.article-content h1 {
  align-self: center;
  width: 250px;
  padding-top: 240px;
  font-family: Mulish;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.article-content p {
  align-self: center;
  width: 250px;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d7987;
}
.article-content a {
  align-self: center;
  width: 250px;
  text-decoration: none;
  color: #4089ed;
}
.article-content a:visited {
  color: #4089ed;
}
.article-content a:hover {
  color: #1d5fbb;
  transition: all 500ms;
}
.article-content:nth-child(2){
  background-image: url(../img/microscope.png);
}
.article-content:nth-child(3){
  background-image: url(../img/shrek-semen.png);
}